<%- include("partials/header") -%>

 <h1> Home </h1>
 <p><%= loremIpsumText %></p>



<!-- let posts = []; (put EJS here) -->

<% homePosts.forEach(function(element) { %>
    <% console.log(element.title) %>
<% }); %>


 <%- include("partials/footer") -%>


